body {
  padding:20px;
  background-image: url(/imgs/escola\ de\ saude\ back.jpg);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 20px;
  margin-top: -10;
  margin-bottom:15;
}
h2{
  font-size: 18px;
}

.established {
 font-size: 12px;
}

h1, h2, p {
  text-align: center;
  color: rgb(12, 15, 12);
}


.menu {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1, h2 {
  font-family: serif;
}

hr{
  border-width:5px;
  height: 2px;
  background-color:#025b23;
  border-color:#025b23;
}
.bottom-line{
  margin-top:25px;
}
/*FOOTER*/
footer{
  font-size:14px;
}

a {
  color: black;
}

a:visited {
  color:black;
}

a:hover {
  color:#12b84f;
}

a:active {
  color:#12b84f;
}
address{
  margin-bottom:5px;
}
img{
  display: block;
  margin: top -30px;
  margin-left: auto;
  margin-right: auto;
  width:75%
}

input {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}

button {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
color: #dfdfe2;
background-color: #1b1b1d;
border-color: white;
min-width: 1em;
}  
button:visited {
  color:black;
}

button:hover {
  color:#12b84f;
}

button:active {
  color:#12b84f;
}